.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

mat-form-field {
  width: 100%;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.mt-25 {
  margin-top: 25px;
}

.example-margin {
  margin: 8px;
}

.excess-capacity-slider {
  width: 100%;
  margin-top: 30px;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.d-flex {
  gap: 2rem;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gap-half {
  gap: 0.5rem;
}

.d-flex.roi-graph-block {
  align-items: unset;
  gap: 4rem;
}

@media only screen and (max-width: 769px) {
  .d-flex.roi-graph-block {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .roiSummaryField {
    flex-direction: column !important;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1025px) {
  .roiGraphFormFieldsBlock {
    width: 100% !important;
  }
}

.text-center {
  text-align: center;
}

.chart {
  width: 100% !important;
}

button {
  color: white !important;
  background-color: black !important;
}

.nextButton {
  flex-direction: row-reverse;
  gap: 0.5rem;
}

.nextButton mat-icon {
  margin-left: unset;
  margin-right: unset;
}

.w-75 {
  width: 75%;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 426px) {
  .seeResultsBtn {
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 1rem !important;
  }
}

.roiSummaryField {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.roiSummaryFieldResult {
  font-weight: bold;
  min-width: 25px;
}

.roiGraphFormFieldsBlock {
  width: 60%;
}

.roi-graph {
  display: flex;
  align-items: center;
}

.pb-25 {
  padding-bottom: 25px;
}
