<mat-stepper linear #stepper>
  <mat-step [stepControl]="costInputForm1">
    <h3 class="text-center">About Your Managers</h3>
    <form [formGroup]="costInputForm1">
      <mat-form-field appearance="fill">
        <mat-label>Total Managers in Operation</mat-label>
        <input
          matInput
          type="number"
          formControlName="B16"
          placeholder="Total Managers in Operation"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Average Yearly Salary Managers?</mat-label>
        <input
          matInput
          type="number"
          formControlName="B17"
          placeholder="Average Yearly Salary Managers?"
          required
        />
      </mat-form-field>
      <div class="d-flex">
        <button mat-raised-button matStepperNext class="nextButton">
          Next
          <mat-icon fontIcon="arrow_forward"></mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="costInputForm2">
    <h3 class="text-center">About Your Staff</h3>
    <form [formGroup]="costInputForm2">
      <mat-form-field appearance="fill">
        <mat-label>Total delivery staff in operation</mat-label>
        <input
          matInput
          type="number"
          formControlName="B19"
          placeholder="Total delivery staff in operation"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Average salary delivery staff</mat-label>
        <input
          matInput
          type="number"
          formControlName="B20"
          placeholder="Average salary delivery staff"
          required
        />
      </mat-form-field>
      <div class="d-flex">
        <button mat-raised-button matStepperPrevious>
          <mat-icon fontIcon="arrow_back"></mat-icon>
          Back
        </button>
        <button mat-raised-button matStepperNext class="nextButton">
          Next
          <mat-icon fontIcon="arrow_forward"></mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ManagerResourceTDForm1">
    <form [formGroup]="ManagerResourceTDForm1" class="mt-25">
      <div class="d-flex-col">
        <label id="MRTDF-radio-group-label1">
          Are you looking for workflow to improve first-right-time?
        </label>
        <mat-radio-group
          aria-labelledby="MRTDF-radio-group-label1"
          class="example-radio-group"
          formControlName="B26"
          color="primary"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of radioOptions"
            [value]="option"
          >
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="d-flex">
        <button mat-raised-button matStepperPrevious>
          <mat-icon fontIcon="arrow_back"></mat-icon>
          Back
        </button>
        <button mat-raised-button matStepperNext class="nextButton">
          Next
          <mat-icon fontIcon="arrow_forward"></mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ManagerResourceTDForm2">
    <form [formGroup]="ManagerResourceTDForm2" class="mt-25">
      <div class="d-flex-col">
        <label id="MRTDF-radio-group-label2">
          Are you looking for use enate to reduce rework?
        </label>
        <mat-radio-group
          aria-labelledby="MRTDF-radio-group-label2"
          class="example-radio-group"
          formControlName="B27"
          color="primary"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of radioOptions"
            [value]="option"
          >
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="d-flex">
        <button mat-raised-button matStepperPrevious>
          <mat-icon fontIcon="arrow_back"></mat-icon>
          Back
        </button>
        <button mat-raised-button matStepperNext class="nextButton">
          Next
          <mat-icon fontIcon="arrow_forward"></mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ManagerResourceTDForm3">
    <form [formGroup]="ManagerResourceTDForm3" class="mt-25">
      <div class="d-flex-col mb-1">
        <label>Estimated excess capacity carried in operation</label>
        <mat-slider
          class="example-margin excess-capacity-slider w-75"
          [max]="max"
          [min]="min"
          [step]="step"
          [discrete]="true"
        >
          <input matSliderThumb formControlName="B30" required />
        </mat-slider>
        <div class="w-75 d-flex-between">
          <div>5%</div>
          <div>30%</div>
        </div>
      </div>
      <div class="d-flex">
        <button mat-raised-button matStepperPrevious>
          <mat-icon fontIcon="arrow_back"></mat-icon>
          Back
        </button>
        <button mat-raised-button matStepperNext class="nextButton">
          Next
          <mat-icon fontIcon="arrow_forward"></mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ManagersTimeDistributionForm1">
    <form [formGroup]="ManagersTimeDistributionForm1" class="mt-25">
      <div class="d-flex-col">
        <label id="MTDF-radio-group-label1">
          Will you be using enate to manage inbound email?
        </label>
        <mat-radio-group
          aria-labelledby="MTDF-radio-group-label1"
          class="example-radio-group"
          formControlName="B33"
          color="primary"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of radioOptions"
            [value]="option"
          >
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="d-flex">
        <button mat-raised-button matStepperPrevious>
          <mat-icon fontIcon="arrow_back"></mat-icon>
          Back
        </button>
        <button mat-raised-button matStepperNext class="nextButton">
          Next
          <mat-icon fontIcon="arrow_forward"></mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ManagersTimeDistributionForm2">
    <form [formGroup]="ManagersTimeDistributionForm2" class="mt-25">
      <div class="d-flex-col">
        <label id="MTDF-radio-group-label2">
          Are you looking for enate to deliver Ops reporting?
        </label>
        <mat-radio-group
          aria-labelledby="MTDF-radio-group-label2"
          class="example-radio-group"
          formControlName="B34"
          color="primary"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of radioOptions"
            [value]="option"
          >
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="d-flex">
        <button mat-raised-button matStepperPrevious>
          <mat-icon fontIcon="arrow_back"></mat-icon>
          Back
        </button>
        <button mat-raised-button matStepperNext class="nextButton">
          Next
          <mat-icon fontIcon="arrow_forward"></mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="botForm">
    <form [formGroup]="botForm" class="mt-25">
      <div class="d-flex-col">
        <label id="bot-radio-group-label"> Do you use bots? </label>
        <mat-radio-group
          aria-labelledby="bot-radio-group-label"
          class="example-radio-group"
          formControlName="botUsage"
          color="primary"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of radioOptions"
            [value]="option"
          >
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="d-flex">
        <button mat-raised-button matStepperPrevious>
          <mat-icon fontIcon="arrow_back"></mat-icon>
          Back
        </button>
        <button mat-raised-button matStepperNext class="nextButton">
          Next
          <mat-icon fontIcon="arrow_forward"></mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="personalDetailsForm">
    <h3 class="text-center">About You</h3>
    <form [formGroup]="personalDetailsForm">
      <div class="d-flex">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="firstName"
            placeholder="First Name"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="lastName"
            placeholder="Last Name"
            required
          />
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Email"
          required
        />
      </mat-form-field>
      <div class="d-flex seeResultsBtn">
        <button mat-raised-button matStepperPrevious>
          <mat-icon fontIcon="arrow_back"></mat-icon>
          Back
        </button>
        <button
          mat-raised-button
          matStepperNext
          class="nextButton"
          (click)="CalculateROI()"
        >
          See Your Results
          <mat-icon fontIcon="arrow_forward"></mat-icon>
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <div class="d-flex roi-graph-block">
      <div class="roiGraphFormFieldsBlock">
        <h4 class="text-center">ROI Summary</h4>

        <div class="roiSummaryField">
          <div>Current Operations cost (Annual) :</div>
          <div class="roiSummaryFieldResult">
            {{this.roiSummaryForm.controls.currentAnnualOperationsCost.value |
            currency:'USD':'symbol':'2.0-0'}}
          </div>
        </div>

        <div class="roiSummaryField">
          <div>Projected Operations Cost (Annual) :</div>
          <div class="roiSummaryFieldResult">
            {{this.roiSummaryForm.controls.projectedAnnualOperationsCost.value |
            currency:'USD':'symbol':'2.0-0'}}
          </div>
        </div>

        <div class="roiSummaryField">
          <div>Savings % of current cost :</div>
          <div class="roiSummaryFieldResult">
            {{this.roiSummaryForm.controls.savingsPercentOfCurrentCost.value}} %
          </div>
        </div>

        <div class="roiSummaryField">
          <div>Enate Cost (Annual) :</div>
          <div class="roiSummaryFieldResult">
            {{this.roiSummaryForm.controls.enateAnnualCost.value |
            currency:'USD':'symbol':'2.0-0'}}
          </div>
        </div>

        <div class="roiSummaryField">
          <div>Net Savings (Annual) :</div>
          <div class="roiSummaryFieldResult">
            {{this.roiSummaryForm.controls.annualNetSavings.value |
            currency:'USD':'symbol':'2.0-0'}}
          </div>
        </div>

        <div class="roiSummaryField">
          <div>Estimated Effort Optimization of Team Lead :</div>
          <div class="roiSummaryFieldResult">
            {{this.roiSummaryForm.controls.estimatedEffortOptimizationOfTeamLead.value
            }} %
          </div>
        </div>

        <div class="roiSummaryField">
          <div>Estimated Effort Optimization of FTE's :</div>
          <div class="roiSummaryFieldResult">
            {{this.roiSummaryForm.controls.estimatedEffortOptimizationOfFte.value
            }} %
          </div>
        </div>

        <div class="roiSummaryField">
          <div>Rollout period :</div>
          <div class="roiSummaryFieldResult">
            {{this.roiSummaryForm.controls.rolloutPeriod.value}}
          </div>
        </div>

        <div class="roiSummaryField">
          <div>Lag from licenses to savings :</div>
          <div class="roiSummaryFieldResult">
            {{this.roiSummaryForm.controls.lagFromLicensesToSavings.value}}
          </div>
        </div>
      </div>
      <div style="width: 100%" class="roi-graph">
        <canvas
          class="chart"
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="barChartType"
        >
        </canvas>
      </div>
    </div>
    <div class="pb-25 d-flex">
      <button mat-raised-button matStepperPrevious>
        <mat-icon fontIcon="arrow_back"></mat-icon>
        Back
      </button>
      <button mat-raised-button class="nextButton" (click)="stepper.reset()">
        Reset
        <mat-icon fontIcon="restart_alt"></mat-icon>
      </button>
    </div>
  </mat-step>
</mat-stepper>
