body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.mat-stepper-horizontal {
  margin-top: unset !important;
}

.mat-horizontal-content-container {
  padding: 0 24px 0 24px !important;
}
